body {
  padding: 5px;
  background-color: purple;
}

input{
  background-color: white;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 20px;
}

pokemon-container{
  display: inline-block;
  margin: 10px;
  border-radius: 50px;
  background-color: lightblue;
}

button{
  border-radius: 5px;
  background-color: blue;
  color: white;
  padding: 10px;
}

button:active{
  background-color: green;
}

